/*All page*/
body {
  margin: 0;
  padding: 0;
  font-family: "Zilla Slab", serif;
  background: url(back1.jpg);
  background-size: cover;
}

/*Only to class window*/
.login {
  width: 300px;
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(
    -50%,
    -50%
  ); /*repositions an element in the horizontal and/or vertical direction*/
  text-align: center;
  box-shadow: 0 0 7px rgb(0, 0, 0.5); /*window shadow just in case*/
  background: (white);
}

/*Only to h1 headind (login)*/
.login h1 {
  color: blanchedalmond;
  text-transform: uppercase;
  font-weight: 800;
}

/*Only to inputs*/
.login_input [type="name"],
.login_input [type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 15px auto;
  border: 3px solid rgb(145, 255, 0);
  padding: 14px 10px;
  width: 220px;
  color: seashell;
  text-align: center;
  transition: 0.4px;
  border-radius: 24px;
  outline: none;
}

/*Textfield and passwordfield get enlarged*/
.login_input [type="name"]:focus,
.login_input [type="password"]:focus {
  border-color: goldenrod;
  width: 270px;
}

/*Only to submit button*/
.button input[type="submit"] {
  border: 0;
  background: none;
  display: block;
  margin: 10px auto;
  border: 3px solid goldenrod;
  padding: 14px 35px;
  color: seashell;
  border-radius: 24px;
  text-align: center;
  transition: 0.2px;
  cursor: pointer;
  outline: none;
}

.button input[type="submit"]:hover {
  background: goldenrod;
}

.login_link {
  font-family: "Zilla Slab", serif;
}
