/*All page*/
body {
  margin: 0;
  padding: 0;
  font-family: "Zilla Slab", serif;
}

.status {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.status > * {
  flex-grow: 1;
}

.info {
  display: block;
}

.input{
    text-align: center;
}


.button [type="submit"] {
  position: relative;
  top: 40px;
  left: 280px;
}

.button [type="submit"]:hover {
  background: silver;
}

/***********************/
.new-transfer {
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.new-transfer > fieldset {
    display:flex;
    flex-direction : column;
    padding:10px;
}

.new-transfer > fieldset > input {
    padding:5px;
    margin-bottom:5px;
    min-width:200px;
}

#btn_submit_transfer {
    margin-top:10px;
}

